.carousel-bg-color{
    background-color: #fceae8;
}
.carousal-button button{
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}
.carousal-button h2{
    color: #FF136F;
}
.category-bg-color-1{
background-color: #ffa500;
}
.category-bg-color-1 img{
    width: 100px;
}
.category-bg-color-2{
background-color: #da70d6;
}
.category-bg-color-2 img{
    width: 100px;
}

.category-bg-color-3{
background-color: #0000ff;
}
.category-bg-color-3 img{
    width: 100px;
}
.category-size{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}